@charset "utf-8";
body {
	font-family:Verdana, Geneva, sans-serif;
	font-size:0.9em;
}

#navigation1 {
list-style: circle inside url("li1.png");

	width: 200px;


}
#navigation1 li {
border-top:  3px dotted;
}

#navigation1 li:first-child {

}

#navigation1 li:hover {
list-style-position: outside;
}

#navigation1 a{
list-style-position: outside;
}


#navigation1 a:hover{

}

#navigation2 li {
list-style: circle inside url("li2.png");
}

#navigation2 li a:hover{
	background-color: lightblue;
	color: WHITE;

border-top:  3px dotted;

}

#navigation2 li a:hover{
background-color:  lightblue;
}
